/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

@use 'utils/expanders' as expanders;
@use 'utils/tools' as tools;
@use 'sass:color';

/** Ionic/Quartz CSS Variables **/


.quartz-vars {
    @include expanders.expand-color-vars(--quartz-color-, (
        "0": #ffffff07,
        "1": #d7d8da,
        "15": #e7e7e7,
        "2": #f3f3f3,
        "25": #f6f6f7,
        "3": #f9f9f9,
        "4": #ffffff
    ));

    --quartz-color-primary: var(--quartz-color-1-contrast);
    --quartz-color-primary-rgb: var(--quartz-color-1-contrast-rgb);
    --quartz-color-primary-active: var(--quartz-color-4-contrast);
    --quartz-color-primary-active-rgb: var(--quartz-color-4-contrast-rgb);

    --quartz-text-color-primary: var(--quartz-color-3);
    --quartz-text-color-primary-rgb: var(--quartz-color-3-rgb);

    --quartz-text-color: var(--quartz-color-3-contrast);
    --quartz-text-color-rgb: var(--quartz-color-3-contrast-rgb);

    --quartz-control-panel-color: var(--quartz-color-3);
    --quartz-control-panel-color-rgb: var(--quartz-color-3-rgb);
    --quartz-background-color: var(--quartz-color-2);
    --quartz-background-color-rgb: var(--quartz-color-2-rgb);

    
    --quartz-shadow-2-neu: -3px -3px 5px 0px #ffffff08, 2px 2px 5px 0px #00000030;
    --quartz-shadow-2-neu-soft: -3px -3px 10px 0px #fff, 2px 2px 10px -1px #0000001a;
    
    --quartz-inner-shadow-2-neu-concave: inset -3px -3px 5px 0px #fff, inset 2px 2px 5px 0px #0000001a;
    --quartz-inner-shadow-2-neu-concave-soft: inset -3px -3px 10px -1px #fff, inset 2px 2px 10px -1px #00000014;

    --quartz-shadow-2-neu-contrast: -3px -2px 5px 0px #ffffff0a, 3px 3px 5px 0px #0000004a;
    --quartz-shadow-2-neu-soft-contrast: -3px -3px 10px 0px #ffffff05, 2px 2px 10px -1px #0000001a;
    
    --quartz-inner-shadow-2-neu-concave-contrast: inset -3px -3px 5px 0px #ffffff0a, inset 2px 2px 5px 0px #0000004a;
    --quartz-inner-shadow-2-neu-concave-soft-contrast: inset -3px -3px 10px 0px #ffffff0a, inset 2px 2px 10px -1px #00000029;

    --quartz-shadow-right: 27px 0px 14px 0px rgba(0,0,0,0.04);
    --quartz-shadow-left: -27px 0px 14px 0px rgba(0,0,0,0.04);
    --quartz-shadow-center: 0px 0px 14px 0px rgba(0,0,0,0.04);


    --default-note-color: var(--quartz-color-25);
}

@mixin dark-mode {
    @include expanders.expand-color-vars(--quartz-color-, (
        "0": #48414107,
        "1": #212225,
        "15": #1f2127,
        "2": #17262c,
        "25": #1c2b32,
        "3": #111c21,
        "4": #10191e
    ));
    
    --quartz-color-primary: #0a0f12;
    --quartz-color-primary-rgb: tools.hexToRGB(#0a0f12);
    --quartz-color-primary-active: #000000;
    --quartz-color-primary-active-rgb: hexToRGB(#000000);

    --quartz-text-color-primary: var(--quartz-color-3-contrast);
    --quartz-text-color-primary-rgb: var(--quartz-color-3-contrast-rgb);

    --quartz-shadow-2-neu: -3px -2px 5px 0px #ffffff0a, 3px 3px 5px 0px #0000004a;
    --quartz-shadow-2-neu-soft: -3px -3px 10px 0px #ffffff05, 2px 2px 10px -1px #0000001a;
    
    --quartz-inner-shadow-2-neu-concave: inset -3px -3px 5px 0px #ffffff0a, inset 2px 2px 5px 0px #0000004a;
    --quartz-inner-shadow-2-neu-concave-soft: inset -3px -3px 10px 0px #ffffff0a, inset 2px 2px 10px -1px #00000029;

    --quartz-shadow-2-neu-contrast: -3px -3px 5px 0px #ffffff08, 2px 2px 5px 0px #00000030;
    --quartz-shadow-2-neu-soft-contrast: -3px -3px 10px 0px #fff, 2px 2px 10px -1px #0000001a;
    
    --quartz-inner-shadow-2-neu-concave-contrast: inset -3px -3px 5px 0px #fff, inset 2px 2px 5px 0px #0000001a;
    --quartz-inner-shadow-2-neu-concave-soft-contrast: inset -3px -3px 10px -1px #fff, inset 2px 2px 10px -1px #00000014;


    --quartz-shadow-right: 27px 0px 14px 0px rgba(0,0,0,0.2);
    --quartz-shadow-left: -27px 0px 14px 0px rgba(0,0,0,0.2);
    --quartz-shadow-center: 0px 0px 14px 0px rgba(0,0,0,0.2);
}

.quartz-vars.theme-dark {
    @include dark-mode;
}

@media (prefers-color-scheme: dark) {
    .quartz-vars.theme-auto{
        @include dark-mode;
    }
}

.quartz-vars {
    /** primary **/
    --ion-color-primary: #3880FF;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;

    /** secondary **/
    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #36abe0;
    --ion-color-secondary-tint: #50c8ff;

    /** tertiary **/
    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;

    /** success **/
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;

    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    /** danger **/
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    /** dark **/
    --ion-color-dark: var(--quartz-color-2-contrast);
    --ion-color-dark-rgb: var(--quartz-color-2-contrast);
    --ion-color-dark-contrast: var(--quartz-color-4);
    --ion-color-dark-contrast-rgb: var(--quartz-color-4);
    --ion-color-dark-shade: var(--quartz-color-3-contrast);
    --ion-color-dark-tint: var(--quartz-color-1-contrast);

    /** medium **/
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;

    /** light **/
    --ion-color-light: var(--quartz-color-3);
    --ion-color-light-rgb: var(--quartz-color-3);
    --ion-color-light-contrast: var(--quartz-color-4-contrast);
    --ion-color-light-contrast-rgb: var(--quartz-color-4-contrast);
    --ion-color-light-shade: var(--quartz-color-1);
    --ion-color-light-tint: var(--quartz-color-2);
}


.ios body,
.md body {
    --ion-background-color: var(--quartz-background-color);

    --ion-text-color: var(--quartz-text-color);
}

:root {
    --border-radius: 10px;
    --border-width: 2px;
}